*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
body {
  background-color: #eee;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  color: #fff;
  overflow: hidden;
  background-color: #323232;
}
.container {
  position: relative;
  top: 20px;
  left: 270px;
  padding: 2% 3%;
  width: 72%;

  border-radius: 30px;
  background-color: #fff;
}
.title {
  padding-top: 5%;
  width: 100%;
  height: 25%;
}
.title img{
  display: block;
  height: 60%;
  margin: 2% auto;
}
.title h2{
  display: block;
  width: 100%;
  height: 34%;
  text-align: center;
  overflow: hidden;
}
.sidebar ul {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 70%;
}
.sidebar li {
  position: relative;
  width: 100%;
  height: 15%;
}
.sidebar li img {
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
  height: 60%;
}
.sidebar li input {
  position: absolute;
  top: 0%;
  right: 10%;
  width: 50%;
  height: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #323232;
}
.sidebar li:hover,
.sidebar li:hover input{
  background-color: #5b08c3;
}

