#we,
#we input {
	background-color: #5b08c3;
}
.container {
	min-width: 45rem;
}
.weTitle{
	margin: 40px 0;
	width: 100%;
	height: 40px;
	font-size: 32px;
}
h1 {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
}
h1:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;

    position: absolute;
    background: black;
    transition: width .3s ease 0s;
    width: 0
}
h1:hover:after {
    width: 97%;
}
.moment,
.leader,
.field,
.honor{
	text-align: center;
}
.subtitle {
	margin: 30px auto;
	width: 100%;
	font-size: 1.6rem;
}
.list {
	display: inline-block;
	position: relative;
	margin: 0.5rem 1rem;
	padding: 0.5rem;
	border-radius: 5px;
	background-color: #fafafa;
	box-shadow: 2px 2px 5px #aaa;
	overflow: hidden;
}
.list .delete,
.list .edit, 
.list .commit{
	display: block;
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	height: 1.5rem;
	cursor: pointer;
}
textarea {
	background-color: #fafafa;
	border: none;
	outline: none;
	resize: none;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}
textarea:focus {
	background-color: rgba(1, 1, 1, 0.05);
}
.moment .list {
	width: 16rem;
	height: 14rem;
}
.moment .img {
	display: block;
	height: 9rem;
	border-radius: 1rem;
	background-size: auto 9rem;
	background-position: center;
}
.moment .img-file{
	display: block;
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	height: 9rem;
	cursor: pointer;
	opacity: 0;
}
.moment .title {
	display: block;
	padding: 0.5rem;
	margin: 0.5rem auto;
	width: 14rem;
	height: 3rem;
	border-radius: 0.5rem;
	/*text-align: center;*/
	text-indent: 26px;
}
.leader .list {
	padding: 1rem;
	width: 25rem;
	height: 23rem;
}
.leader .img {
	display: block;
	float: left;
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	background-size: auto 10rem;
	background-position: center;
}
.leader .img-file {
	display: block;
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 10rem;
	height: 10rem;
	cursor: pointer;
	opacity: 0;
}
.leader .name {
	display: block;
	float: right;
	padding: 1rem;
	height: 1rem;
	width: 12rem;
	text-align: center;
}
.leader .position {
	display: block;
	float: right;
	padding: 1rem;
	height: 5rem;
	width: 12rem;
	text-align: center;

}
.leader .description {
	display: block;
	padding: 1rem;
	margin-top: 11rem;
	width: 23rem;
	height: 10rem;
	text-align: center;
}
.field .list {
	padding: 1rem;
	width: 40rem;
	height: 13rem;
}
.field .img {
	position: relative;
	float: left;
	margin: 0 0.5rem; 
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	border: 0.5px solid #d2d2d2;
	background-size: auto 10rem;
	background-position: center;
	background-repeat: no-repeat;
}
.field .img-file {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
}
.field .name {
	display: block;
	padding: 0.5rem;
	margin: 0 0.5rem; 
	position: absolute;
	bottom: 1rem;
	float: left;
	width: 20rem;
	height: 1rem;
	text-align: center;
}
.field .description {
	display: block;
	padding: 1rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 16rem;
	height: 11rem;
	text-indent: 24px;
}
.honor .subtitle {
	width: 12rem;
	height: 3rem;
	line-height: 3rem;
}
.honor .subtitle .add {
	display: inline-block;
	float: right;
	height: 3rem;
	/*line-height: 2rem; */
	cursor: pointer;
}
.honor .list {
	padding: 2.5rem 1rem; 
	width: 25rem;
/*	height: 30rem;*/
	text-align: center;
}

.honor .title,
.honor .date,
.honor .description {
	display: inline-block;	
	padding: 0 0.5rem;
	height: 2rem;
	width: 24rem;
	text-align: center;
}
.honor .description {
	height: 10rem;
	text-indent: 24px;
	text-align: left;
}
.honor .imgArr {
	width: 100%;
	text-align: center;
} 
.honor .img {
	display: inline-block;
	margin: 0.5rem;
	position: relative;
	width: 10rem;
	height: 7rem;
	background-size: auto 7rem;
	background-position: center;
	background-repeat: no-repeat;
    box-shadow: 0px 4px 4px #d4d4d4;	
}
.honor .img img{
	position: absolute;
	top: -0.5rem;
	right: -0.5rem;
	width: 1.5rem;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 3px -1px 4px #d0d0d0;
}
.honor .img-file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0; 
}
.honor .add2 {
	display: inline-block;
	width: 5rem;
	padding: 1.5rem 2.5rem;
	cursor: pointer;
}