<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fsm</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectCB</display-name>
    <servlet-name>ConnectCB</servlet-name>
    <servlet-class>dao.ConnectCB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectCB</servlet-name>
    <url-pattern>/ConnectCB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userJudgeServlet</display-name>
    <servlet-name>userJudgeServlet</servlet-name>
    <servlet-class>servlet.userJudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userJudgeServlet</servlet-name>
    <url-pattern>/userJudgeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>musicSearchServlet</display-name>
    <servlet-name>musicSearchServlet</servlet-name>
    <servlet-class>servlet.musicSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>musicSearchServlet</servlet-name>
    <url-pattern>/musicSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>musicSearchAllServlet</display-name>
    <servlet-name>musicSearchAllServlet</servlet-name>
    <servlet-class>servlet.musicSearchAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>musicSearchAllServlet</servlet-name>
    <url-pattern>/musicSearchAllServlet</url-pattern>
  </servlet-mapping>
</web-app>